* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;     /* Garante que padding e borda não afetem o tamanho total dos elementos */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

/* Estilo para o header com a imagem de fundo */
.principal {
    background-image: url(../aula26_background_image/img/arquitetura.jpg);      /* URL da imagem de fundo */
    background-size: cover;             /* Faz a imagem cobrir todo o contêiner */
    background-position: center;        /* Centraliza a imagem dentro do container */
    width: 100%;                        /* Garante que o header ocupe 100% da largura da tela */
    height: 400px;                      /* Altura fixa do header */
    display: flex;
    justify-content: center;            /* Alinha o conteúdo horizontalmente */
    align-items: center;                /* Alinha o conteúdo verticalmente */
    color: #f0f0f0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 3);
}

.conteudo-principal {
    text-align: center;
    padding: 20px;
}

.principal h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.principal p {
    font-size: 1.5em;
}

.sobre-nos {
    padding: 40px;
    text-align: center;
    background-color: #fff;
    margin-top: 20px;
}

.sobre-nos h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
}

.sobre-nos p {
    font-size: 1.2;
    color: #555;
}

.rodape {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}